
  body, mat-drawer-container{
    background-color: #D8C2A5;
    height: 100%;
  }

  mat-drawer{
    width: 30%;
    height: 100%;
  }



  .search-section{
    margin-top: 2%;
    width: 70%;
    margin-left: 15%;
  }
 
  .logo {
    float: right;
  }

  h1.title {
    text-align: center;
    margin-top: 2%;
    width: 70%;
    margin-left: 15%;
  }

  p.address {
    text-align: center;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
    filter: blur(5px); /* Apply a blur effect */
  }
  .image-container img {
    width: 100px; /* Adjust the size as needed */
  }

  


 

