<body>

  <mat-drawer-container class="example-container" hasBackdrop="false">
    <mat-drawer #drawer mode="side">
      <div class="main-content-wrapper">
        <a style="color: beige; cursor: pointer;" (click)="routeTo('nails'); drawer.toggle()">Nails</a>
        <a style="color: beige; cursor: pointer;" (click)="routeTo('lash'); drawer.toggle()">Lashes</a>
        <a style="color: beige; cursor: pointer;" (click)="logout()">Log out</a>
      </div>
    </mat-drawer>
    <mat-drawer-content>

      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
      <label for="openSidebarMenu" (click)="drawer.toggle()" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
      </label>
      
      <div class="service-card">
        <div class="service-card-content">
          <div *ngIf="serviceDetails" class="service-row">
            <div class="profile-image-container">
              <img *ngFor="let image of images" [src]="getBlobUrl(image.portfolioData)" alt="Image" class="profile-image">
            </div>
            <div class="service-details">
              <p class="service-name">{{ serviceDetails.serviceName | uppercase }}</p>
              <p>{{ serviceDetails.serviceLocation }}</p>
              <p><a class="google-maps-link" href="https://www.google.com/maps/search/?api=1&query={{ serviceDetails.serviceLocation }}">See Maps</a></p>
            </div>
          </div>
        </div>
      </div>
      
    </mat-drawer-content>
  </mat-drawer-container>







  
</body>