<body>

  <mat-drawer-container class="example-container" hasBackdrop="false">
    <mat-drawer #drawer mode="side">
      <div class="main-content-wrapper">
        <a style="color: beige; cursor: pointer;" (click)="routeTo('nails'); drawer.toggle()">Nails</a>
        <a style="color: beige; cursor: pointer;" (click)="routeTo('lash'); drawer.toggle()">Lashes</a>
        <a style="color: beige; cursor: pointer;" (click)="logout()">Log out</a>
      </div>
    </mat-drawer>
    <mat-drawer-content>

      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
      <label for="openSidebarMenu" (click)="drawer.toggle()" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
      </label>
      
      <div class="service-card">
        
        <!-- <div *ngIf="loading" class="service-card-loading">
          Loading...
        </div> -->

        <div class="service-card-content">
          <div *ngIf="serviceDetails">
            <!-- <h1 class="title">{{ serviceDetails.location }}</h1> -->
            
            <div *ngFor="let image of images" class="profile-image-container">
              <img [src]="getBlobUrl(image.portfolioData)" alt="Image" class="profile-image">
            </div>
            <p class="service-name">{{ serviceDetails.serviceName | uppercase }}</p>
            <p>{{ serviceDetails.serviceLocation }}</p>
            <p><a class="google-maps-link" href="https://www.google.com/maps/search/?api=1&query={{ serviceDetails.serviceLocation }}">See Maps</a></p>
          </div>
        
          
      
          <!-- Add Ons
          <div *ngIf="addOns.length > 0" class="add-ons">
            <div class="service-card-title">Add Ons</div>
            <div *ngFor="let service of addOns" class="service-row">
              <div>{{ service.serviceName }}</div>
              <div class="service-cost">{{ service.serviceCost | number:'1.0-0' }}</div>
            </div>
          </div> -->
        </div>

        <!-- <div class="service-card-content">
          <p class="no-service">No service available at the moment</p>
        </div> -->
      </div>
      
    </mat-drawer-content>
  </mat-drawer-container>







  
</body>