body, mat-drawer-container{
    background-color: #D8C2A5;
    height: 100%;
  }


mat-drawer{
    width: 30%;
    height: 100%;
  }

.header{
    align-self: center;
    width: max-content;
    margin-left: 50%;
}