<body>

  <mat-drawer-container class="example-container" hasBackdrop="false">
    <mat-drawer #drawer mode="side">
      <div class="main-content-wrapper">
        <a style="color: beige; cursor: pointer;" (click)="routeTo('nails'); drawer.toggle()">Nails</a>
        <a style="color: beige; cursor: pointer;" (click)="routeTo('lash'); drawer.toggle()">Lashes</a>
        <a style="color: beige; cursor: pointer;" (click)="logout()">Log out</a>
      </div>
    </mat-drawer>
    <mat-drawer-content>

      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
      <label for="openSidebarMenu" (click)="drawer.toggle()" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
      </label>
      
      <div class="search-section">

          <div *ngIf="serviceDetails">
            <!-- <h1 class = "title">{{ serviceDetails.location }}</h1> -->

            <p>Service Id: {{ serviceDetails.serviceId }}</p>
            <p>Location: {{ serviceDetails.location }}</p>
            <p>Type: {{ serviceDetails.type }}</p>
            <p>Description: {{ serviceDetails.description }}</p>

          </div>
          
          <div *ngIf="!serviceDetails">
            <p>AVAILABILITY HELLO</p>
          </div>

          <mat-card class="inline-calendar-card">
            <mat-calendar [(selected)]="selected" (selectedChange)="selectDate($event)"></mat-calendar>
          </mat-card>
          
          <p class="selected-date">Selected date: {{selected | date: 'longDate'}}</p>

          <!--<div class="time-slots">
            <button *ngFor="let timeSlot of timeSlots" (click)="selectTimeSlot(timeSlot)" [class.selected]="timeSlot === selectedTimeSlot">
              {{ timeSlot }} - {{ addHour(timeSlot) }}
            </button>
          </div>-->
          <div class="time-slots">
            <button *ngFor="let timeSlot of timeSlots"
                    [disabled]="isTimeSlotUnavailable(timeSlot)"
                    (click)="selectTimeSlot(timeSlot)"
                    [class.selected]="timeSlot === selectedTimeSlot">
              {{ timeSlot }} - {{ addHour(timeSlot) }}
            </button>
          </div>
          
          <p class="selected-time-slot">Selected time slot: {{ selectedTimeSlot }}</p>
          <button (click)="bookAppointment()">Book</button>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
</body>