


<body>


        <div 
            class="authentication-card-container"
            fxLayout="column"
            fxLayoutAlign="center"
            >
            <mat-card class="authentication-card">
                <mat-card-header>
                <mat-card-title>Settings</mat-card-title></mat-card-header
                >
                <mat-card-content  style="width: 100%; margin-left: 70%;">
                    <thead>
                        <tr>
                            <th style="width: 30%; color: #D8C2A5 ;">First Name</th>
                            <th  style="width: 30%;">Last Name</th>
                            <th  style="width: 30%;">Username</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td> {{ user.name }} </td>
                            <td> {{ user.name }} </td>
                            <td> {{ user.name }} </td>
                      
                        </tr>
                    </tbody>
            
                   
                </mat-card-content>
                <mat-card-actions>
            
                <button mat-raised-button color="primary" (click)="logout()">Logout</button>
              
                </mat-card-actions>
            </mat-card>
        </div>


    
</body>

