<body>

  <mat-drawer-container class="example-container" hasBackdrop="false">
    <mat-drawer #drawer mode="side">
      
      <img style="height: auto; width:60%; margin-left:20%;" src="logo.png" > 
      <div class="main-content-wrapper">
        <a  style="color: beige; cursor: pointer;" (click)= "routeTo('nails')" (click)="drawer.toggle()">Nails</a>
        <a  style="color: beige; cursor: pointer;"  (click) = "routeTo('lash')" (click)="drawer.toggle()">Lashes</a>
        <a  style="color: beige; cursor: pointer;"  (click) = "returnToDashBoard()" (click)="drawer.toggle()">Home</a>
        <a  style="color: beige; cursor: pointer;"  (click)="logout()">Log out</a>
      </div>
    </mat-drawer>
    <mat-drawer-content>
   
      <input type="checkbox"  class="openSidebarMenu" id="openSidebarMenu">
      <label for="openSidebarMenu" (click)="drawer.toggle()" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
      </label>
      

      <div class="review-card">
        <div class="review-card-header">
          <div class="review-card-title">Reviews</div>
        </div>
        
        <div *ngIf="loading" class="review-card-loading">
          Loading...
        </div>

        <div class="review-card-content" *ngIf="!loading && reviews.length === 0">
          <p class="no-review">No review available at the moment</p>
        </div>

      </div>
        

        <div *ngIf="!loading && (reviews.length > 0)">
          <!-- Regular Reviews -->
          <div *ngFor="let review of reviews" class="review-card">
            <div class="review-details">
              <div class="date">{{ review.reviewCreatedDate | date:'dd MMMM yyyy' }}</div>
              <div> 
                <ng-container *ngFor="let _ of [].constructor(review.reviewRating); let i = index">
                ★ <!-- Unicode star character -->
                </ng-container>
              </div>
              <div>{{ review.reviewDescription }}</div>
              <!-- You can include other details here if needed -->
            </div>
          </div>
        </div>

        
     
      
    </mat-drawer-content>
  </mat-drawer-container>

  



  
</body>