
<body>
    <h1>business-page-book-appointment works!</h1>
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" class="form-control" id="Biz" value="bizname" readonly>
    </div>
    <div class="form-group">
        <label id="Date" for="Date">Date</label>
    </div>
    <div class="form-group">
      <label id="Time" for="Time">Time</label>
      <select class="form-control">
        <option>Default select</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
