
body, mat-drawer-container{
    background-color: #D8C2A5;
    height: 100%;
  }


mat-drawer{
    width: 30%;
    height: 100%;
  }

.header{
    align-self: center;
    width: max-content;
    margin-left: 50%;
}

div.scroll-container {
  background-color: #d8c2a5;
  overflow-y: auto; /* Enable vertical scrollbar if needed */
  overflow-x: auto; /* Hide horizontal scrollbar */
  white-space: nowrap;
  padding: 10px;
  max-height: calc(100vh - 200px); /* Set a maximum height, adjust as needed */
}

/* Hide scrollbar but still allow scrolling */
div.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Firefox */
div.scroll-container {
  scrollbar-width: none;
}


.jumbotron {
  background-image: url('https://as2.ftcdn.net/v2/jpg/04/95/49/53/1000_F_495495397_7WK5yvKZdZZtpyVNPACIJwuJAPaLiYJP.jpg');
  background-size: cover;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 100px 0;
  margin-bottom: 0;
}

.service-gallery{
  margin-top: 50px;
}
.service-img {
  max-height: 200px;
  max-width: 100%;
  padding: 10px 10px 0 0 ;
 
}
.pricing-list {
  margin-top: 50px;
}

.container1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.table-container {
  width: 45%; /* Adjust width as needed */
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #D8C2A5;
  color: white;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #D8C2A5;
}
th {
  background-color: #3B271D;
}

.days .event {
  background-color: lightblue !important;
}

.calendar {
  max-width: 600px;
  margin: 0 0;
  padding: 20px;
  border: 1px solid #D8C2A5;
  border-radius: 5px;
}

.month {
  text-align: center;
  margin-bottom: 10px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  background-color: #3B271D;
  padding: 5px;
}

.weekdays div {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.days div {
  padding: 5px;
  border: 1px solid #ccc;
}

.container2 {
  display: flex;
  grid-template-columns: 1fr auto; /* One column for calendar, one for button */

}

.calendar {
  flex: 1; /* Take up remaining space */
  /* Additional styling for the calendar */
  /* For example: */
  justify-content: space-between; /* Align items at start and end */
  align-items: center; /* Center items vertically */
}

.button-container {
  display: flex;
  flex:1;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.button {
  background-color: #3B271D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}