
.authentication-card {
    width: 60%;
    margin: 0 auto;
    
}

.authentication-card-container {
    min-height: 100vh;
}

.background{
    background-color: #D8C2A5;
}

button{
    background-color: #8e3a06eb; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

mat-card-title{
    color: white;
}

.image-container {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Let the height adjust automatically based on the content */
    margin-right: 20px; /* Adjust the margin between image containers */
    float: left; /* Float the containers to ensure they align horizontally */
  }
  
  .profile-image {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    object-fit: cover; /* Cover the entire container */
  }

  .delete-button {
    margin-left: right; /* Push the button to the right */
  }

  body, mat-drawer-container{
    background-color: #D8C2A5;
    height: 100%;
  }

mat-drawer{
    width: 30%;
    height: 100%;
    background-color: #C6B4B4;
  }

  a{
    background-color: #C6B4B4;
    border-color: #C6B4B4;
  }


.no-shadow{
    box-shadow: none !important;
    align-items: center;
    background-color: #D8C2A5;
    align-content: center;
    margin-bottom: 0%;
}
mat-card-title{
    /* margin-top: 0%; */
    width: fit-content;
}


mat-card{
    padding-bottom: 2%;
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
    align-self: center;
    align-content: center;
    align-items: center;
}